<heading title="New Posts">
  <button class="btn btn-primary heading-btn" [routerLink]="['/new-post', 'add']">Add new post</button>
</heading>

<page>
  <table class="table table-hover">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Id</th>
        <th scope="col">UserID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of newPost">
        <td scope="row">{{item.id}}</td>
        <td>{{item.userId}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <td>
          <span [routerLink]="['/new-post', 'edit', item.id]">
            <i class="fa fa-pencil edit-pencil hover" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</page>