.login {
    margin-top: 40px;
    min-height: 100%;
    background-size: cover;
    background-color: #fff;
    &-logo {
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    &-title {
        margin: 20px 0 30px;
        text-align: center;
    }
}