<!-- (ok)="okSme($event)" -->
<heading [title]="(edit == true) ? 'Edit post' : 'Add new post'">
  <button class="btn btn-secondary heading-btn" [routerLink]="['/posts']">Cancel</button>
</heading>

<page>
  <table class="table table-hover mt-5">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Id</th>
        <th scope="col">UserID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">
          <input class="form-control" name="add-id" placeholder="Add Id" type="text">
          </td>
          <td>
            <input class="form-control" name="userId" placeholder="UserID" type="text">
          </td>
          <td>
            <input class="form-control" name="title" placeholder="Title" type="text">
          </td>
          <td>
            <input class="form-control" name="content" placeholder="Content" type="text">
          </td>
      </tr>
    </tbody>
  </table>
</page>