<!-- (ok)="okSme($event)" -->
<heading title="Posts">
  <button class="btn btn-primary heading-btn" [routerLink]="['/posts', 'add']">Add post</button>
</heading>

<page>
  <table class="table table-hover">
    <thead>
      <tr class="thead-dark">
        <th>Id</th>
        <th>UserID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <td>{{item.id}}</td>
        <td>{{item.userId}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <td>
          <span [routerLink]="['/posts', 'edit', item.id]">
            <i class="fa fa-pencil edit-pencil hover" aria-hidden="true"></i>
          </span>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="modalEden.open(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</page>

<modal #modalEden (submit)="delete($event)"></modal>