<!-- (ok)="okSme($event)" -->
<heading title="Posts">
    <button class="btn btn-primary heading-btn" [routerLink]="['/posts', 'add']">Add post</button>
</heading>

<page>
  <table class="table table-hover">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Id</th>
        <th scope="col">UserID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <td scope="row">{{item.id}}</td>
        <td>{{item.userId}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <td>
          <span [routerLink]="['/posts', 'edit', item.id]">edit</span>
        </td>
      </tr>
    </tbody>
  </table>
</page>