<div class="header" [ngClass]="{'toggleSidenav': sideNavToggle }">
  <div class="row">
    <div class="col-md-6">
      <i class="header-burger fa fa-bars" (click)="toggleSidenav()"></i>
      {{sideNavToggle}}
    </div>
    <div class="col-md-6">
      <div class="float-right header-user">
        <img class="header-avatar" src="http://d3tubktjmbabhw.cloudfront.net/0c0f2211-8165-4108-a506-3979ba343ebd/b4a79a78-8af0-4fa0-b42a-916eb03fdf5b.jpg">
        <div ngbDropdown class="d-inline-block">
          <span class="header-name" id="dropdownBasic1" ngbDropdownToggle>John Winter </span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="logOut()">LogOut</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>